@import "index";
@mixin alignToSide {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  padding: $g-pad;
  display: flex;
}
#s1{
  background: url("/gum_bg1.png") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  filter: hue-rotate(180deg);
  border-top: $outline;
  box-shadow: inset 0 0 0 1000px rgba(5,5,5,.75);
  #s1cw{
    filter: hue-rotate(180deg) !important;
  }
}
#s2{
  background: $bg4 !important;
}

.button_style1 {
  padding: 1.5vmin 4vmin;
  margin-right: 1vmin;
  font-size: 2vmin;
  border-radius: $g-bordrad;
  border: $outline;
  background: #19191975;
  backdrop-filter: blur(1vmin);
  color: $txt2;
  cursor: pointer;
  transition: $g-trans;
  &:hover {
    transform: translateY(-.5vmin);
    background: $active;
    border: $active_outline;
    color: $bg3;
    filter: $g-glow;
  }
}

#pageheader {
  height: 70vmin;
  width: 100dvw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index:5;
  background: url("/gum_bg1.png") no-repeat center center;
  background-attachment: fixed;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(5,5,5,.75);
  *{z-index: 6;}
  #ph_hwrapper {
    width: 100vmin;
    height: calc(100% - 5vmin);
    #ph_mockup {
      background-image: url('/gum_mockup.png');
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      object-fit: contain;
      height: 100%;
      width: 100%;
      filter: $g-glow;
    }
    // background: #8dfdf4;
    .ph_left{
      @include alignToSide;
      left: 0;
      top: 5vmin !important;
      h1 {
        font-size: 6.35vmin;
        padding-bottom: 1.5vmin;
      }
      p {
        font-size: 2.75vmin;
        font-weight: 200;
        color: $txt2;
        margin-bottom: 2vmin;
      }
      #ph_buttonWrapper {
        width: 100%;
        padding-top: 2vmin;
        border-top: 1px solid #bcbcbc;
      }
    }
    .ph_right{
      @include alignToSide;
      padding: 5vmin;
      top: 5vmin !important;
      right: 0;
    }
  }
}
.sect_h1 {
  font-size: 5vmin;
  margin-bottom: 1vmin;
}
.sect_p {
  font-size: 2.75vmin;
  font-weight: 100;
  // margin-bottom: 1vmin;
}
.sect_style1 {
  height: 50vmin;
  width: 100dvw;
  background:$bg2;
  display: flex;
  justify-content: center;
  align-items: center;
  .sect_contentWrapper {
    width: 100vmin;
    height: 100%;
    // background: $bg2;
    padding: $g-pad;
  }
}
.left { @include alignToSide; left: 0; }
.right { @include alignToSide; right: 0; }
#sect1_left {
  h1{font-size: 6.35vmin !important;}
  padding: 2vmin !important;
  padding-right: 1vmin !important;
}
#sect1_right {
  h1{font-size: 6.35vmin !important;}
  padding: 2vmin !important;
  padding-left: 1vmin !important;
}
.sect1_contentbox {
  height: 100%;
  width: 100%;
  padding: 3.25vmin !important;
  border-radius: $g-bordrad;
  border: $outline;
  padding: $g-pad;
  background: #272727d5;
  backdrop-filter: blur(1vmin);
}