$bg1:#191919;
$bg2:#232323;
$bg3:#0e0e0e;
$bg4:#272727;
$bg5:#2e2e2e;
$txt1:#f3f3f3;
$txt2:#d7d7d7;
$txt3:#c2c2c2;

$active:#e580e5;
$active2:#8dfdf4;
$active_outline: 1px solid #b761b7;
$active_outline2: 1px solid #62cac2;

$outline: 1px solid #4a4a4a;
$g-pad: 5vmin;
$g-trans: .35s;
$g-bordrad: 1.5vmin ;
$g-glow: drop-shadow(0,0,1vmin,#ffffff75);

// @import url('https://fonts.cdnfonts.com/css/rogan');
@font-face {
  font-family: main;
  src: url("/font.otf");
}

nav{
  position: fixed !important;
  top:0;
  left:0;
  height: 5vmin;
  width: 100dvw;
  display: flex;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-end !important;
  text-decoration: none !important;
  background: $bg1;
  z-index: 99;
  .navlink {
    text-decoration: none !important;
    height: 100%;
    width: 20vmin;
    background: $bg2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: $g-trans;
    font-weight: 100;
    font-size: 2vmin;
  }
  .navlink:hover {
    background: $active;
    color: $bg3;
  }
  .active {
    text-decoration: none !important;
    background: $bg4;
    padding-top: .65vmin;
    border-bottom: .65vmin $active solid;
    font-weight: 400;
  }
  #logo {
    background-image: url('/logo.png');
    position: absolute;
    top:0;
    left: -1vmin;
    height: 100%;
    width: 20vmin;
    cursor: pointer;
    object-fit: contain;
    background-size: contain;
    background-position: center left;
    background-repeat: no-repeat;
  }
}

html *{
  margin:0;
  padding:0;
  position:relative;
  box-sizing:border-box;
  word-wrap: break-word;
  text-wrap: wrap;
  font-family: main;
  font-weight: 400;
  color: $txt1;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &::selection{background: $active; color: $bg3;}
  body { background:$bg1; height: 100%; width: 100%; }
}